
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JX's Student Course Registration System</h1>
    <p>
        Click "Add Course" in the menu to add course information.<br />
        Click "Add Student" in the menu to add student information. <br />
        Click "Enroll Student" to enroll a student in a course." <br />
        Click "Drop Student" to drop a course from a student's course list.<br />
        Click "Summary" to view a list of all active courses and students who are enrolled.
    </p>
</div>

